*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* contenitore main */
.container{
    width: 90%;
    margin:auto;
}

/* sezione schede */
.rigaSchede{
    margin: 2% auto;
}
.scheda{
    float: left;
    margin: 0 5px;
}
.containerFoto{
    float: left;
    margin: 1% 5px;
    position: relative;
}
.containerFoto img{
    height: 720px;
}


/* cartellini sconti e sostenibilita */
.cartellini{
    position: absolute;
    left: 0;
    bottom: 30px;
    color: white; 
    font-weight: 500;
    z-index: 50;
}
.sconto{
    background-color: red;
    padding: 3px 5px;
    float: left;
    margin-right: 5px;
}
.sostenibile{
    float: left;
    background-color: green;
    padding: 3px 5px;
}
.sostenibile::after{
    content: "Sostenibilitá";
}
.cinquanta::after{
    content: "-50%";
}
.trenta::after{
    content: "-30%";
}
.cuore{
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 30px;
    padding: 10px 20px;
    background-color: white;
    z-index: 50;
}

/* descrizione prodotto */
.containerProdotto{
    margin: 0 5px;
    padding: 5px 0;
}
.marca{
    font-size: 15px;
}
.prodotto{
    font-size: 18px;
    font-weight: 600;
}
.prezzo{
    float: left;
    margin-right: 5px;
    color: red;
    font-weight: 600;
}
.prezzoScontato{
    float: left;
    text-decoration: line-through ;
}

/* sistema z-index e position per fotoA e fotoB */
.fotoA{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.fotoB{
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
}
.scheda:hover .fotoB{
    position: relative;
    left: 0;
    top: 0;
    z-index: 20;
}
.scheda:hover{
    cursor: pointer;
}
.cuore:hover{
    color:red;
}